
@{
    ViewBag.Title = "Logout";
}
@Session["uid"]

@Styles.Render("~/Content/cslogout")

    <script>
        /* Break back button */
        window.onload = function () {
            var i = 0;
            var previous_hash = window.location.hash;
            var x = setInterval(function () {
                i++;
                window.location.hash = "/noop/" + i;
                if (i == 10) {
                    clearInterval(x);
                    window.location.hash = previous_hash;
                }
            }, 10);
        }
    </script>

<body>

    <div class="top">
        <h3>You have succesfully logged out.</h3>
    </div>
    <div class="img">
        <img src="~/Images/LogOff.png" width="1400" h="100" alt="LogOut" class="img-circle" />
    </div>
    <style>
        .submit {
            height: 50px;
            width: 80px;
            position: absolute;
            margin-top: 10%;
            top: 150px;
            right: 10px;
            text-align: center;
            background-color: #343434;
            border: none;
            color: rgb(198,199,198);
            text-decoration: none;
            display: inline block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;
        }
    </style>

</body>



